body,p,h2,h3,h4,h5 {
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    margin:0;
    padding:0;
}
h1 {
    font-size: 13px;
}
h2,h3,h4,h5 {
    line-height: 30px;
}

body {
    line-height: 24px;
}
.container {
    background-color: #fefefe;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width:768px){
    body {
        background-image: url(/static/images/heart.jpg);
    }
}

/*
    background-image: url(/static/images/bg.png);
    background-color: #f00;

@media screen and (max-width:979px){
    body{
        padding-top: 0px;
    }
}
.hoge {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
a>img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
*/

div.container {

}
.mgb10 {
    margin-bottom: 10px;
}
.nav-title {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #aaa;
    color: #DA6272;
}
.mytitle>a{
    color:#C7243A;
}
.mytitle>a:hover{
    text-decoration:none;
}
.entry-title {
    font-size: 22px;
    margin-bottom: 2px;
    border-bottom: 1px dashed #aaa;
    color: #555;
}
.entry-pubdate {
    font-size: 12px;
    color: #888;
    font-style: Italic;
    margin-bottom: 10px;
}
.entry-body p {
    line-height: 24px;
}
.entry-body img {
    margin: 5px 0 5px 0;
}

.mycontainer {
    padding: 0 10px 0 10px;
}
#myhero {
    margin: 20px 0;
}
#myhero .mytitle {
    font-size: 35px;
    line-height: 35px;
    text-shadow: 3px 3px 3px #ddd;
}
#myhero .mysubtitle {
    font-size: 18px;
    line-height: 26px;
    color: #888;
    font-style: Italic;
}

.breadcrumb {
    line-height: 18px;
    padding: 0 8px;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
