<script type="text/javascript"><!--
google_ad_client = "ca-pub-1219756446801912";

if(767 < document.documentElement.clientWidth){
    /* mikan_text_large */
    google_ad_slot = "4693509713";
    google_ad_width = 468;
    google_ad_height = 60;
}
else {
    if(Math.floor(Math.random() * 2)){
        /* mikan_234_60 */
        google_ad_slot = "2283270113";
        google_ad_width = 234;
        google_ad_height = 60;
    }
    else {
        /* mikan_300_250 */
        google_ad_slot = "2298446516";
        google_ad_width = 300;
        google_ad_height = 250;
    }
}
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
