<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ blog.title}}{% endblock %}</title>

    {%mf head%}
    <link href="/static/bootstrap/css/bootstrap.org.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/styles/front.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ blog.title }} RSS Feed" href="{{ blog.feedurl }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
    {% block head_block %}{% endblock %}
    {%endmf%}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="mycontainer">

            <ul class="breadcrumb">
              <li class="active"><h1><a href="/"><span class="icon-home"></span> {{ blog.title }} トップページ</a></h1></li>
<!--
              <span class="divider">&lt;</span>
              <li><h2><a href="#">Home</a></h2></li>
              <span class="divider">&lt;</span>
              <li><h2><a href="#">Library</a></h2></li>
-->
            </ul>

            <div id="myhero">
              <p class="mytitle">{{ blog.title }}</p>
              <p class="mysubtitle">{{ blog.subtitle }}</p>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          <div class="mycontainer">
          {%block content %}{%endblock%}
          </div>
        </div>

        <div class="span4">
          <div class="mycontainer">
            {%include "sidebar.html" %}
          </div>
        </div>
      </div>

    </div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script>
commentuser=$.cookie('comment_user');
if (commentuser)
{
    //[user,email,url]=commentuser.split('#@#');
    var tuple=commentuser.split('#@#');
    var user,email,url;
    user=tuple[0];
    email=tuple[1];
    url=tuple[2];
    $('#author').val(user);
    $('#email').val(email);
    $('#url').val(url);
}

$('#commentform').submit(function(){
    var form = this;
    if (form.author)
    {

      	if (!form.author.value)
        {
            alert('Please input your name.');
            form.author.focus();
            return false;
        }
        if (!form.email.value)
        {
            alert('Please input the email address.');
            form.email.focus();
            return false;
        }
    }

    if (!form.comment.value)
    {
      	alert('Please leave some reply message.');
      	form.comment.focus();
      	return false;
    }

    return true;
});
</script>

  </body>
</html>
