<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="qtPCXjoTxd9DFxOrVV9PO_S2AGR86VIwqiXApP5xeqk" />
    <title>{% block title %} {{ blog.title}}{% endblock %}</title>

    {%mf head%}
    <link href="/static/bootstrap/css/bootstrap.org.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/styles/front.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ blog.title }} RSS Feed" href="{{ blog.feedurl }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
    {% block head_block %}{% endblock %}    
    {%endmf%}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="mycontainer">
            <div id="myhero">
              <p class="mytitle"><a href="/">{{ blog.title }}</a></p>
              <p class="mysubtitle">{{ blog.subtitle }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          <div class="mycontainer">
          {%block content %}{%endblock%}
          </div>
        </div>

        <div class="span4">
          <div id="sidebar" class="mycontainer">
            {%include "sidebar.html" %}
          </div>
        </div>
      </div>

    </div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<!--<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>-->
<script>
commentuser=$.cookie('comment_user');
if (commentuser)
{
    //[user,email,url]=commentuser.split('#@#');
    var tuple=commentuser.split('#@#');
    var user,email,url;
    user=tuple[0];
    email=tuple[1];
    url=tuple[2];
    $('#author').val(user);
    $('#email').val(email);
    $('#url').val(url);
}

$('#commentform').submit(function(){
    var form = this;
    if (form.author)
    {

      	if (!form.author.value)
        {
            alert('Please input your name.');
            form.author.focus();
            return false;
        }
        if (!form.email.value)
        {
            alert('Please input the email address.');
            form.email.focus();
            return false;
        }
    }

    if (!form.comment.value)
    {
      	alert('Please leave some reply message.');
      	form.comment.focus();
      	return false;
    }

    return true;
});

function dbg(msg){
    $("#dbg").text($("#dbg").text() + msg);
}

/* image resizing */
if(navigator.userAgent.match(/iPhone/) || navigator.userAgent.match(/iPod/) || navigator.userAgent.match(/Android/)){
    $("img").removeAttr("width").removeAttr("height").addClass('img-rounded');
}
/* fixed sidebar */
else {
    var sidebar = $('#sidebar');
    var offset = sidebar.offset();
    var height = sidebar.height();
    var W = $(window);
    var is_shortnavi = (height + offset.top < W.height()) ? 1 : 0;
    //console.debug(is_shortnavi);

    function fixen(event) {
        ////console.debug(event.type);
        //dbg(event.type + ":" + W.scrollTop() + ":" + new Date() + "\n");

        if(is_shortnavi && offset.top < W.scrollTop()){
            sidebar.css({'position':'fixed', 'top':0});
        }
        else if(!is_shortnavi && height + offset.top <= W.scrollTop() + W.height() - 15) {
            //console.debug(height);
            //console.debug(offset.top);
            //console.debug(W.scrollTop());
            //console.debug(W.height());
            sidebar.css({'position':'fixed', 'bottom':0});
        }
        else {
            sidebar.css({'position':''});
        }
    }
    //W.scroll(fixen);
    W.bind("scroll",    fixen);
    //W.bind("touchstart", fixen);
    //W.bind("touchmove", fixen);
    //W.bind("touchend",  fixen);
}

/* google analytics */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25533819-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

  </body>
</html>
