<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ blog.title}}{% endblock %}</title>

    {%mf head%}
    <link href="/static/bootstrap/css/bootstrap.org.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ blog.title }} RSS Feed" href="{{ blog.feedurl }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
    {% block head_block %}{% endblock %}
    {%endmf%}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1><a href="{{blog.baseurl}}/" title="{{blog.title}}">{{blog.title}}</a></h1>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          {%block content %}{%endblock%}
        </div>

        <div class="span4">
          <div class="sidebar">
            <ul>
              <li>
                <h2>Recent Comments</h2>
                <ul>
                  {% for comment in recent_comments %}
                  <li>
                    <a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}:{{comment.shortcontent}}...</a>
                  </li>
                  {%endfor%}
                </ul>
              </li>

              <li>
                <h2>Categories</h2>
                <ul>
 	          {%for cate in categories%}
                  <li>	<a href="/category/{{cate.slug|urlencode}}">{{cate.name}}({{cate.count}})</a></li>
 	          {%endfor%}
                </ul>
              </li>
              <li>
                <h2>Blog roll</h2>
                <ul>
                  {%for link in blogroll%}
                  <li><a href="{{link.href}}">{{link.linktext}}</a></li>
                  {%endfor%}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          {%mf footer%}
	  <p>{{blog.title}}</p>
	  <p><a href="#top" title="Top">top</a></p>
          {%endmf%}
        </div>
      </div>


      <div class="row">
        <div class="span12">
          <ul>
	    <li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}">
	      <a href="{{ blog.baseurl }}">Home</a>
	    </li>
	    {{self.m_list_pages|safe}}
            <li class="page_item" ><a href="{{blog.feedurl}}">(RSS)</a></li>
            {% block topmenu %}{% endblock %}

            {%if self.is_admin or self.author%}
            <li><a href="/admin/">Admin</a> </li>
            {%endif%}
            <li>
              {%if self.is_login%}

              <a href="{{self.logouturl}}">Logout</a>

              {%else%}
              <a href="/admin/">Login</a>

              {%endif%}
            </li>
            {%mf nav_menu%}
            {%endmf%}
            <li id="searchbox">

              <form method="get" id="searchform" action="http://www.google.com/search">
                <input type="text" value="" name="as_q" id="s" />
		<input type="submit" value="search" />
		<input name="as_sitesearch" value="{{blog.domain}}" type="hidden"/>
	      </form>

            </li>
          </ul>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  </body>
</html>
