{% extends "base.html" %}
{% block keywords %}トップページ,{% endblock %}
{% block canonical %}/{% endblock %}
{% block content%}

{% if entries %}

{% for entry in entries %}
<h2 class="entry-title"><a href="/{{ entry.link }}" rel="bookmark" title="記事詳細へ: {{entry.title}}">{{entry.title}}</a></h2>
<p class="entry-pubdate">{{entry.date}}</p>

<div class="entry-body">
  {{ entry.content|safe }}

  {%mf after_entry_content%}
    {%if relateposts%}
    <br/><br/>
    <h4 class="nav-title">関連記事:</h4>
    <ul>
      {%for post in relateposts%}
      <li><a href="/{{post.link}}">{{post.title}}</a></li>
      {%endfor%}
    </ul>
    {% endif %}
  {% endmf %}
</div>
<br/><br/>
<div class="meta">
  {% if entry.strtags %}
  <p>Tags: {% for tag in entry.tags %}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {% endfor %}</p>
  {% endif %}

  {% if entry.categories %}
  <p>Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {% endfor %}
    {% if self.is_admin %}| <a href="{{entry.edit_url}}">Edit</a>{% endif %}
  </p>
  {% endif %}
</div>

<br/>
{% if forloop.counter < 3 %}
<p style="text-align:left;">
<script type="text/javascript"><!--
     google_ad_client = "ca-pub-1219756446801912";
/* arekao2 */
google_ad_slot = "7172681389";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</p>
{% endif %}
<br/>
{% endfor %}

<div class="box">
  <div class="alignleft">{% if show_next %}<a href="/page/{{ pageindex|add:"1" }}">古い記事 &raquo;</a>{%endif%}</div>
  <div class="aligncenter">
    <script type="text/javascript" src="/static/js/pagenavi.js"></script>
    <script type="text/javascript">showPageLink("/page/",{{ pageindex }},{{ pagecount }},"");</script>
  </div>
  <div class="alignright">{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}">&laquo; 新しい記事</a>{%endif%}</div>
</div>

{% else %}
<div class="box">
  <h2>Not Found</h2>
  <p>Sorry, but you are looking for something that isn't here.</p>
</div>
{% endif %}

{% endblock %}


