{% extends "base.html" %}
{% block content%}

{% if entries %}
{% for entry in entries %}
<div class="box">
  <div id="post-{{entry.key}}">
    <div class="nifty">
      <h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{entry.title}}">{{entry.title}}</a></h2>
      <span class="date">{{entry.date|datetz:"F jS, Y"}}</span>
    </div>
    <div class="en_body">
      {{entry.content_excerpt|safe}}
    </div>

    <div class="meta">
      {% if entry.strtags %}
      <p>Tags: {%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}</p>
      {%endif%}
      <p>Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} |
        {%if self.is_admin%}<a href="{{entry.edit_url}}">Edit</a> | {%endif%}
        <a href="/{{entry.link}}#comments">Comments({{entry.commentcount}})&#187;</a>
    </div>
  </div>
</div>
{% endfor %}

<div class="box">
  <div class="alignleft">{% if show_next %}<a href="/page/{{ pageindex|add:"1" }}">&laquo; Older Entries</a>{%endif%}</div>
  <div class="aligncenter">
    <script type="text/javascript" src="/static/js/pagenavi.js"></script>
    <script type="text/javascript">showPageLink("/page/",{{ pageindex }},{{ pagecount }},"");</script>
  </div>
  <div class="alignright">{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}">Newer Entries &raquo;</a>{%endif%}</div>
</div>

{% else %}
<div class="ctop"></div>
<div class="box">
  <h2>Not Found</h2>
  <p>Sorry, but you are looking for something that isn't here.</p>
</div>
<div class="clear"></div>
<div class="cbottom"></div>
<div class="space"></div>
{% endif %}


{% endblock %}


