{% extends "base.html" %}
{% block title %} {{year}}年{{month}}月 - {{blog.title|escape}} {% endblock %}
{% block content %}

<!-- content START -->
<div id="content">

  <!-- main START -->
  <div id="main">

    <div class="box">{{year}}年{{month}}月 の記事一覧</div>
    {% for entry in entries %}
    <div class="post">
      <h2><a class="title" href="/{{entry.link|escape}}" >{{entry.title|escape}}</a></h2>
      <div class="info">
	<span class="date">{{ entry.date|datetz:"F jS, Y " }}</span>
      </div>
    </div>
    {% endfor %}

    <div id="pagenavi">
      <div class="wp-pagenavi">
	{% if pager.prev %}<a href="?page={{ pager.prev}}" >&laquo;次のページ</a>{% endif %}
	{% if pager.next %}<a href="?page={{ pager.next }}" >&raquo;前のページ</a>{% endif %}
      </div>
    </div>
  </div>

<p style="text-align:left;">
<script type="text/javascript"><!--
     google_ad_client = "ca-pub-1219756446801912";
/* arekao2 */
google_ad_slot = "7172681389";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</p>


</div>
{% endblock %}


