{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block keywords %}{% if entry.strtags %}{% for tag in entry.tags %}{{tag}},{% endfor %}{% endif %}{% endblock %}
{% block canonical %}{% if entry %}/p/{{ entry.slug|urlencode }}{% endif %}{% endblock %}

{% block content%}
{% if entry %}
<h1 class="entry-title">{{entry.title}}</h1>
<p class="entry-pubdate">{{entry.date}}</p>

<div class="entry-body">{{ entry.content|safe }}</div>

<p style="text-align:left;">
<script type="text/javascript"><!--
     google_ad_client = "ca-pub-1219756446801912";
/* arekao2 */
google_ad_slot = "7172681389";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</p>

{% endif %}
{% endblock %}
