<ul class="unstyled">
  <li class="mgb10">
    <h3 class="nav-title">カテゴリ</h3>
    <div style="line-height:20px">
      {% recurse cat in categories children="children" indent=(5,20) %}
      <p style="margin:0 0 5px {{indent}}px"><a href="/category/{{cat.slug|urlencode}}">{{cat.name}}({{cat.count}})</a></p>
      {% yield %}
      {% endrecurse %}
    </div>
  </li>
  <li>
    <h3 class="nav-title">サイト内検索</h3>
    <form method="get" id="searchform" action="http://www.google.com/search">
      <input type="text" value="" name="as_q" id="s" />
      <input type="submit" value="search" />
      <input name="as_sitesearch" value="{{blog.domain}}" type="hidden"/>
    </form>
  </li>
  <li>
    <a href="{{blog.feedurl}}">RSS登録</a><br><br>
  </li>

  <li>
    <h3 class="nav-title">記事画像一覧</h3>
    <img src="http://blogparts.blogmura.com/pts/pvcount.GIF?chid=1023626" border=0 width=1 height=1>
    <iframe width="203" height="600" id="parts_frame" name="testframe" src="http://blogparts.blogmura.com/pts/blogmura_parts.html?chid=1023626&bgcolor=fff&link=001eff&size=200&time=600000&cat=0&subcat=0&select=p_itemimage&host=http://mikan767676.appspot.com/" frameborder="0" border="0" scrolling="no" hspace="0" vspace="0" marginheight="0" marginwidth="0"></iframe>
  </li>

  <li>
    <h3 class="nav-title">PR</h3>

<script>
var ads = [
    // ポンパレモール
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=882184372" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=882184372"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=882184372" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=882184372" height="60" width="234" border="0"></a></noscript></iframe>',
    // LUXA 234*60
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881426694" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881426694"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881426694" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881426694" height="60" width="234" border="0"></a></noscript></iframe>',
    // くまポン
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881416792" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881416792"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881416792" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881416792" height="60" width="234" border="0"></a></noscript></iframe>',
    // ヤフオク
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881481809" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881481809"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881481809" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881481809" height="60" width="234" border="0"></a></noscript></iframe>',
    // ぐるなび
    '<a href="http://gaff.gurunavi.jp/track/gc.php?ga_bid=3&ga_pid=455" target="_blank" rel="nofollow"><img src="http://img.gurunavi.jp/track/deliver_image.php?ga_bid=3&ga_pid=455" width="234" height="60" alt="希望するお店のプランをWEBから予約" border="0"></a>',
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=882006915" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=882006915"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=882006915" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=882006915" height="60" width="234" border="0"></a></noscript></iframe>',
    // 一休
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=882019290" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=882019290"></scr'+'ipt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=882019290" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=882019290" height="60" width="234" border="0"></a></noscript></iframe>',
    // GROUPON
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881894670" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881894670"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881894670" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881894670" height="60" width="234" border="0"></a></noscript></iframe>',
    // じゃらん
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881481817" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881481817"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881481817" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881481817" height="60" width="234" border="0"></a></noscript></iframe>'];

Array.prototype.shuffle = function() {
    var i = this.length;
    while(i){
        var j = Math.floor(Math.random()*i);
        var t = this[--i];
        this[i] = this[j];
        this[j] = t;
    }
    return this;
}
ads.shuffle();
document.write(ads.join('<br><br>'));
</script>

   </li>

</ul>
