<ul class="unstyled">
  <li class="mgb10">
    <h3 class="nav-title">カテゴリ</h3>
    <ul class="">
      {%for cate in categories%}
      <li>
	<a href="/category/{{cate.slug|urlencode}}">{{cate.name}}({{cate.count}})</a>
      </li>
      {%endfor%}
    </ul>
  </li>
<!--
  <li>
    <h3>Blog roll</h3>
    <ul class="">
      {%for link in blogroll%}
      <li><a href="{{link.href}}">{{link.linktext}}</a></li>
      {%endfor%}
    </ul>
  </li>
-->
  <li>
    <h3 class="nav-title">サイト内検索</h3>
    <form method="get" id="searchform" action="http://www.google.com/search">
      <input type="text" value="" name="as_q" id="s" />
      <input type="submit" value="search" />
      <input name="as_sitesearch" value="{{blog.domain}}" type="hidden"/>
    </form>
  </li>
  <li>
    <a href="{{blog.feedurl}}">RSS登録</a><br><br>
  </li>
  <li>
    <h3 class="nav-title">PR</h3>

<script>
var ads = [
    // LUXA 234*60
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881426694" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881426694"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881426694" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881426694" height="60" width="234" border="0"></a></noscript></iframe>',
    // くまポン
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881416792" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881416792"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881416792" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881416792" height="60" width="234" border="0"></a></noscript></iframe>',
    // ヤフオク
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881481809" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881481809"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881481809" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881481809" height="60" width="234" border="0"></a></noscript></iframe>',
    // じゃらん
    '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881481817" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881481817"></scri'+'pt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881481817" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881481817" height="60" width="234" border="0"></a></noscript></iframe>'];

Array.prototype.shuffle = function() {
    var i = this.length;
    while(i){
        var j = Math.floor(Math.random()*i);
        var t = this[--i];
        this[i] = this[j];
        this[j] = t;
    }
    return this;
}
ads.shuffle();
document.write(ads.join('<br><br>'));
</script>

   </li>

</ul>
