<ul class="unstyled">
  <li class="mgb10">
    <h3 class="nav-title">カテゴリ</h3>
    <ul class="">
      {%for cate in categories%}
      <li>
	<a href="/category/{{cate.slug|urlencode}}">{{cate.name}}({{cate.count}})</a>
      </li>
      {%endfor%}
    </ul>
  </li>
<!--
  <li>
    <h3>Blog roll</h3>
    <ul class="">
      {%for link in blogroll%}
      <li><a href="{{link.href}}">{{link.linktext}}</a></li>
      {%endfor%}
    </ul>
  </li>
-->
  <li>
    <h3 class="nav-title">サイト内検索</h3>
    <form method="get" id="searchform" action="http://www.google.com/search">
      <input type="text" value="" name="as_q" id="s" />
      <input type="submit" value="search" />
      <input name="as_sitesearch" value="{{blog.domain}}" type="hidden"/>
    </form>
  </li>
  <li>
    <a href="{{blog.feedurl}}">RSS登録</a><br><br>
  </li>
  <li>
    <h3 class="nav-title">PR</h3>
<script>

var ads = ['<iframe frameborder="0" allowtransparency="true" height="250" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881480584" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881480584"></scr'+'ipt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881480584" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881480584" height="250" width="300" border="0"></a></nos'+'cript></iframe>',
           '<iframe frameborder="0" allowtransparency="true" height="60" width="234" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881426692" marginwidth="0"><scr'+'ipt language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881426692"></scr'+'ipt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881426692" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881426692" height="60" width="234" border="0"></a></noscript></iframe>',
          '<iframe frameborder="0" allowtransparency="true" height="250" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=2195279&pid=881480613" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=2195279&pid=881480613"></scr'+'ipt><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=2195279&pid=881480613" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=2195279&pid=881480613" height="250" width="300" border="0"></a></noscript></iframe>']

document.write(ads[parseInt(Math.random() * ads.length)]);

</script>

   </li>

</ul>
