{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block keywords %}{% if entry.strtags %}{% for tag in entry.tags %}{{tag}},{% endfor %}{% endif %}{% endblock %}
{% block canonical %}{% if entry %}/{{ entry.link }}{% endif %}{% endblock %}
{% block content%}

{% if entry %}
<h1 class="entry-title">{{entry.title}}</h1>
<p class="entry-pubdate" style="vertical-align:middle;">{{entry.date}}</p>

{% include "ad_mikan_text2.html" %}

<div class="entry-body">
  {{ entry.content|safe }}

  <br/>{% include "ad_arekao2.html" %}<br/>

  {%mf after_entry_content%}
    {%if relateposts%}
    <br/><br/>
    <h4 class="nav-title">関連記事:</h4>
    <ul>
      {%for post in relateposts%}
      <li><a href="/{{post.link}}">{{post.title}}</a></li>
      {%endfor%}
    </ul>
    {% endif %}
  {% endmf %}
</div>

<div class="meta">
  {% if entry.strtags %}
  <p>Tags: {% for tag in entry.tags %}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {% endfor %}</p>
  {% endif %}

  {% if entry.categories %}
  <p>Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {% endfor %}
    {% if self.is_admin %}| <a href="{{entry.edit_url}}">Edit</a>{% endif %}
  </p>
  {% endif %}
</div>

{% include "comments.html" %}
{% endif %}

{% endblock %}
