{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block content%}

{% if entry %}
<h2 class="entry-title"><a href="/{{ entry.link }}" rel="bookmark" title="記事詳細へ: {{entry.title}}">{{entry.title}}</a></h2>
<p class="entry-pubdate">{{entry.date}}</p>

<div class="entry-body">
  {{ entry.content|safe }}

  {%mf after_entry_content%}
    {%if relateposts%}
    <br/><br/>
    <h4 class="nav-title">関連記事:</h4>
    <ul>
      {%for post in relateposts%}
      <li><a href="/{{post.link}}">{{post.title}}</a></li>
      {%endfor%}
    </ul>
    {% endif %}
  {% endmf %}
</div>

<div class="meta">
  {% if entry.strtags %}
  <p>Tags: {% for tag in entry.tags %}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {% endfor %}</p>
  {% endif %}

  {% if entry.categories %}
  <p>Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {% endfor %}
    {% if self.is_admin %}| <a href="{{entry.edit_url}}">Edit</a>{% endif %}
  </p>
  {% endif %}
</div>

{% include "comments.html" %}
{% endif %}

{% endblock %}
